/*PALLETE

    #3C5186 - dark
    #FFF5DE - white
    #FEF2B8 - tan
    #D7A151 - gold
    #923330 - red
    #4D1211  - dark red
*/

*{
    padding: 0px;
    margin: 0px;
    min-width: 0;
}

body{
    background-image: radial-gradient(#4D1211,#3C5186);
}

nav {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #4D1211;
    padding: 1%;
    position: sticky;
    top:0px;
    z-index:10;
    word-spacing: 3rem;
}

a{
    text-decoration: none;
}

p{
    color: #FFF5DE;
}

h4{
    color:#FEF2B8;
}

nav li{
    display: inline;
}

nav a{
    color:#FEF2B8;
    text-decoration: none;
}

nav a:hover{
    color:#FFF5DE;
    text-decoration: underline;
}

h1{
    text-align: center;
    background-color: #FFF5DE;
    text-transform: uppercase; 
    color: #4D1211;
}

h2{
    text-align: center;
    background-color: #4D1211; 
    color: #FFF5DE;
    padding: 0.25%;
}

h3{
    text-align: center;
    margin: 0.5%;   
    text-transform: uppercase;
    color: #D7A151;
}

h4{
    text-align: center;
    margin: 1.5%;   
}

button{
    border: solid #3C5186;
    margin: 5% 0%;
    padding: 10px 20px;
    color: #FFF5DE;
    text-transform: uppercase;
    border-radius: 10px;
    text-decoration: none;
    background-image: linear-gradient(to top left, #3C5186, #4D1211);
}

button:hover{
    border: solid #FFF5DE;
    background-image: linear-gradient(to top left, #4D1211, #3C5186);
    color: #FFF5DE;
    text-transform: uppercase;
    text-decoration: underline;
    box-shadow: 1px 1px 6px #8D93AB;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 35px;
}
 
.container .card {
    height: 220px;
    max-width: 200px;
    position: relative;
    margin: 4% 2%;
    padding: 4% 5%;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    border-radius: 50px;
    border: solid #FFF5DE;
    background-color: #4D1211;
}

.react{
    background-color: #001135 !important;
    border: solid  #D7A151EA !important;
}

.html{
    background-color: #132c69 !important;
    border: solid #4D1211 !important;
}

.java{
    border: solid #FFF5DE !important;
    background-color: #4D1211 !important;
}

 
.container .card:hover {
    height: 420px;
}
 
.container .card .imgbox img {
    max-width: 100%;
    border-radius: 4px;
}
 
.container .card .content {
    position: relative;
    margin-top: -100px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
 
.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -10px;
    transition-delay: 0.3s;
}

.container img{
    height:200px;
    width: auto;
    border: 2px solid #3C5186;
    box-shadow: 1px 1px 6px #3C5186;
}

.container #react{
    border: 2px solid #FFF5DE;
}

.smaller{
    font-size: small;
}

footer{
    text-align: center;
}

#around-git{
    display: flex;
    align-content: center;
    justify-content: center;
}

#Github a{
    text-decoration: none;
    text-align: center;
    color: #FFF5DE;
    font-size: 7rem;
    padding: 2% 0;
}

#Github a:hover{
    color: #4D1211;
}

footer a{
    text-decoration: none;
    color: #FFF5DE;
}

footer a:hover{
    text-decoration: underline;
    color: #D6E0F0;
}

#desc{
    display: grid;
    place-items: center;
}

table{
    border: solid #FFF5DE;
    color: #FFF5DE;
    width: 35rem;
    text-align: center;
}

td,th{
    background-color: #4D1211;
    padding: 3%;
    border: solid #D7A151EA;
}

table a{
    text-decoration: none;
    color: #FFF5DE;
}

table a:hover{
    text-decoration: underline;
}





@media screen and (max-width: 1024px){

    *{
        font-size: medium;
    }
 
    nav{
        word-spacing: 0 !important;
    }

    nav a{
        font-size: xx-small;
    }
    
}

@media screen and (max-width: 700px){

    table{
        width: 40rem;
    }

    .container .card .imgbox img {
        max-width: 100%;
        border-radius: 30px;
    }

    *{
        font-size: x-small;
    }
 
    nav{
        word-spacing: 0 !important;
    }

    nav a{
        font-size: xx-small;
    }
}